WebApplication1/Connected Services/WSDatos/WSDatos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MiWS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MiWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Bus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autorizado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Inscrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonaPie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonaSentado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ruta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bus" nillable="true" type="tns:Bus" />
</xs:schema>