WebApplication1/Connected Services/WDService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MiWS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MiWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BusCarac">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autorizado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Inscrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonasPie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonasSentadas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ruta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusCarac" nillable="true" type="tns:BusCarac" />
  <xs:complexType name="ArrayOfBusCarac">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusCarac" nillable="true" type="tns:BusCarac" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusCarac" nillable="true" type="tns:ArrayOfBusCarac" />
</xs:schema>