WebApplication1/Connected Services/WDService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50335/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MiWS" />
  <xs:element name="enviar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MiWS" minOccurs="0" name="ObusCarac" nillable="true" type="q1:BusCarac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enviarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MiWS" minOccurs="0" name="enviarResult" nillable="true" type="q2:BusCarac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recibir">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recibirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MiWS" minOccurs="0" name="recibirResult" nillable="true" type="q3:ArrayOfBusCarac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>